<!doctype html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}osu!Web{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.11.11/lib/p5.min.js"></script>
  </head>
  <body>
    <div class="osu-bg">
      <header class="site-header">
        <div class="container">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <div class="flash-container">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
          <nav class="main-nav">
            <a class="logo" href="{{ url_for('home.home') }}">
            </a>
            <a href="{{ url_for('home.home') }}">Home</a>
            <a href="{{ url_for('beatmaps.beatmaps') }}">Beatmaps</a>
            <a href="{{ url_for('upload.upload') }}">Upload</a>
            <a href="{{ url_for('community.community') }}">Community</a>
            <div class="avatar">
              <div class="avatar-dropdown">
                {% if current_user.is_authenticated %}
                  <img id="avatar-btn" src="{{ url_for('base.avatar', filename=current_user.avatar) if current_user.avatar else url_for('static', filename='images/default_cover.png') }}" alt="avatar">
                  <div id="avatar-menu" class="dropdown-content">
                    <a href="{{ url_for('user.user') }}">User</a>
                    <a href="{{ url_for('user.user_edit') }}">Edit User</a>
                    <a href="{{ url_for('user_hub.user_hub') }}">User Hub</a>
                    <a href="{{ url_for('login.logout') }}">Logout</a>
                  </div>
                {% else %}
                <a href="{{ url_for('login.login') }}">
                  <img src="{{ url_for('static', filename='images/default_cover.png') }}"></img>
                </a>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </header>

      <div class="container">
        <div class="content-box">{% block content %}{% endblock %}</div>
      </div>
      <footer class="site-footer">
        <div class="container">&copy; {{ current_year }} Developed by Kyle</div>
      </footer>
    </div>
  </body>
</html>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>