{% extends 'components/base.html' %} {% block title %}osu! - Home{% endblock %}
{% block content %} {% block page_header %}
<div class="page-header">
  <div class="container">
    <h2>Community</h2>
  </div>
</div>
{% endblock %}
<h2>Discussion:</h2>
<a href="{{ url_for('community.create_discussion') }}" class="btn"
  >Create discussion</a
>
<div class="discussion-section">
  {% for discussion in discussions %}
  <a href="{{ url_for('discussion.discussion', discussion_id=discussion.id) }}">
    <div class="discussion-block">
      <div class="cover-info">
        <img
          class="user-avatar"
          src="{{ url_for('base.avatar', filename=discussion.user.avatar) if discussion.user.avatar else url_for('static', filename='images/default_cover.png') }}"
        />
        <p>Posted by {{ discussion.user.name }}</p>
      </div>
      <div class="info">
        <h2>{{ discussion.title }}</h2>
        <p>{{ discussion.content }}</p>
      </div>
    </div>
  </a>
  <hr />
  {% endfor %}
</div>
{% endblock %}
