{% extends 'components/base.html' %} {% block title %}osu! - Create discussion{%
    endblock %} {% block content %} {% block page_header %}
    <div class="page-header">
        <div class="container">
            <h2>Create discussion</h2>
        </div>
    </div>
{% endblock %}
<form id="discussion-form" action="{{ url_for("community.create_discussion") }}"
      method="post"
      enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-row">
        {{ form.title.label }}
        <br />
        {{ form.title(id='title') }}
    </div>
    <div class="form-row">
        {{ form.content.label }}
        <div id="editor" class="editor-shell"></div>
        <input type="hidden" id="content" name="content" />
    </div>
    <div class="form-row">{{ form.submit(class_='btn') }}</div>
</form>
<script src="{{ url_for('static', filename='js/quill.js') }}"></script>
{% endblock %}
