{% extends 'components/base.html' %} {% block title %}osu! - Home{% endblock %}
{% block content %} {% block page_header %}
<div class="page-header">
  <div class="container">
    <h2 style="text-align: center; color: #f062a1">Welcome to osu!web</h2>
  </div>
</div>
{% endblock %}
<div class="center">
  <h3>
    Browse beatmaps or upload your own, only mania beatmaps (.zip or .osz).
  </h3>
  <p>
    <a href="{{ url_for('beatmaps.beatmaps') }}" class="btn">Browse beatmaps</a>
    <a href="{{ url_for('upload.upload') }}" class="btn">Upload a beatmap</a>
  </p>
  <h3>Random Mania Beatmap</h3>
</div>
<div class="random-map">{% include "pages/card.html" %}</div>
{% endblock %}
