{% extends 'components/base.html' %} {% block title %}osu! - Upload{% endblock
%} {% block content %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% block page_header %}
<div class="page-header">
  <div class="container">
    <h2>Signup</h2>
  </div>
</div>
{% endblock %}
<div class="wrap">
  <form method="POST" action="{{ url_for('signup.signup') }}" novalidate>
    {{ form.hidden_tag() }}
    <label for="username">Username:</label>
    {{ form.username(class="form-row") }} {% if form.username.errors %}
    <div class="error-line">
      {% for err in form.username.errors %}{{ err }}{% endfor %}
    </div>
    {% endif %}
    <label for="email">Email:</label>
    {{ form.email(class="form-row") }} {% if form.email.errors %}
    <div class="error-line">
      {% for err in form.email.errors %}{{ err }}{% endfor %}
    </div>
    {% endif %}
    <label for="password">Password:</label>
    {{ form.password(class="form-row") }} {% if form.password.errors %}
    <div class="error-line">
      {% for err in form.password.errors %}{{ err }}{% endfor %}
    </div>
    {% endif %}
    <button type="submit" class="btn">Create User</button>
    <a href="{{ url_for('login.login') }}" class="line-btn"
      >Have a account? Login</a
    >
  </form>
</div>
{% endblock %}
