{% extends 'components/base.html' %} {% block title %}osu! - User{% endblock %}
{% block content %} {% block page_header %}
<div class="page-header">
  <div class="container">
    <h2>User</h2>
  </div>
</div>
{% endblock %}
<div class="user-profile">
  <div class="user-banner">
    <img
      src="{{ url_for('base.banner', filename=current_user.banner) if current_user.banner else url_for('static', filename='images/default_banner.png') }}"
    />
  </div>
  <div class="user-avatar">
    <img
      src="{{ url_for('base.avatar', filename=current_user.avatar) if current_user.avatar else url_for('static', filename='images/default_cover.png') }}"
    />
  </div>
  <h2>{{ current_user.username }}</h2>
  <a href="{{ url_for('user.user_edit') }}">
    <img
      src="{{ url_for('static', filename='images/setting_btn.png') }}"
      alt="Play"
      class="btn"
    />
  </a>
</div>
<h2>Favorites:</h2>
<div class="tabs-container">
  <div class="tabs">
    <button class="tab-button active" onclick="showTab('beatmaps')">
      Beatmaps
    </button>
    <button class="tab-button" onclick="showTab('discussion')">
      Discussion
    </button>
  </div>

  <div id="beatmaps" class="tab-content" style="display: block">
    <div class="list-container">
      <div class="item-list">{% include "pages/card.html" %}</div>

      <div class="load-controls">
        <button class="show-more">Show More</button>
        <button class="show-less" style="display: none">Show Less</button>
      </div>
    </div>
  </div>

  <div id="discussion" class="tab-content" style="display: none">
    <div class="list-container">
      <div class="item-list">{% include "pages/discussion_card.html" %}</div>

      <div class="load-controls">
        <button class="show-more">Show More</button>
        <button class="show-less" style="display: none">Show Less</button>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/content_select.js') }}"></script>
  <script src="{{ url_for('static', filename='js/load.js') }}"></script>
  {% endblock %}
</div>
