{% extends 'components/base.html' %} {% block title %}osu! - 401{% endblock %}
{% block content %} {% block page_header %}
<div class="page-header">
  <div class="container">
    <h2 style="text-align: center; color: #f062a1">Error {{ code }}</h2>
  </div>
</div>
{% endblock %}
<div class="center">
  <h3>{{ error_message }}</h3>
  <h3>{{ soln }}</h3>
  <p>
    <a href="{{ url_for('login.login') }}" class="btn">Login</a>
    <a href="{{ url_for('signup.signup') }}" class="btn">Signup</a>
  </p>
</div>
{% endblock %}
